<div id="rides" class="modal fade text-center">
    <div class="modal-dialog" id="profile-dialog">
        <div class="modal-content" id="profile-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="model-heading" class="text-center">My Rides </h4>
            </div>
            <div class="modal-body top">

                <div class="card w-75 main">
                    <div class="card-body main2">
                        <div class="row main3">
                            
                            <div class="col text-left main42">

                                <p class="card-text time"></p>
                                <img src="images/green.png" height="7px" width="7px">
                                <span class="card-text from"></span><br>
                                <img src="images/red.png" height="7px" width="7px">
                                <span class="card-text to"></span>
                            </div>
                            <div class="col main43">
                               
                                <p></p>
                               
                            
                                
                                
                            </div>
                        </div>
                    </div>
                     
                </div>
               
            </div>
            <div class="modal-footer">

            </div>

        </div>
    </div>
</div>