<!--================================= NAVIGATION START =============================================-->
<nav class="navbar navbar-default navbar-fixed-top menu-bg" id="top-nav">
    <div class="container">
        <div class="navigation-tb">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="margin-top: 0px;">
                    <a href="#">
                        <img src="images/logo.png" alt="logo" />
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right no-margin" id="menu-list">
                    <li class="menu-fs menu-underline"><a href="#home" class="pagescroll">home</a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="#services" class="pagescroll">services</a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="#price" class="pagescroll"> tariff </a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="#contact" class="pagescroll"> contact</a>
                    </li>
                    <li class="menu-fs menu-underline"><a href="/dashboard" class="pagescroll">Book A Ride</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>
<!--================================= NAVIGATION END =============================================-->

<!--================================= HEADER VIDEO START =============================================-->
<div class="container-fluid video-section no-padding video-bgimage bgimage-property white-text" id="home">
    <div>
        <a id="bgndVideo" class="player"
            data-property="{videoURL:'https://www.youtube.com/watch?v=QRLG_8fhiLA',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
        <div class="pattern-overlay header-section-space header-white-text">
            <div class="container">
                <div class="col-md-12 column-center no-padding">
                    <h1 class="center header-head1-bottom">fast &amp; safe service</h1>
                    <h3 class="center">We Pick Up &amp; Drop You On Time by Best Tariff </h3>
                    <div class="center btn-top">
                        <a href="/dashboard">
                            <div class="header-btn">Book Now</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================================= HEADER VIDEO END =============================================-->

<!--================================= MAINTENANCE START =============================================-->
<section class="container-fluid section-space section-bg-1">
    <div class="container">
        <h2 class="center h2-bottom">what we do</h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-4 col-sm-4 common-res-bottom-1">
                <div class="left image-bottom">
                    <img src="images/750x500x1.jpg" alt="image" class="img-responsive image-center" />
                </div>
                <h4 class="center h4-bottom"><a href="#">best route</a></h4>
                <p class="center">Our route planner takes care of planning your route and suggest you best possible way
                    to commute to ensure flash speed service.</p>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-4 col-sm-4 common-res-bottom-1">
                <div class="left image-bottom">
                    <img src="images/750x500x2.jpg" alt="image" class="img-responsive image-center" />
                </div>
                <h4 class="center h4-bottom"><a href="#">maintenance</a></h4>
                <p class="center">We take vehicle maintanance seriously to ensure our customer experience a hygiene
                    commute during our flash speed service.</p>
            </div>

            <!--=============== COLUMN-3 ==================-->
            <div class="col-md-4 col-sm-4">
                <div class="left image-bottom">
                    <img src="images/750x500x3.jpg" alt="image" class="img-responsive image-center" />
                </div>
                <h4 class="center h4-bottom"><a href="#">car rental</a></h4>
                <p class="center">We also provide cars on rental if one decides to plan a journey for long duration or
                    want to drive by themselves. Reach out for more info.</p>
            </div>
        </div>
    </div>
</section>
<!--================================= MAINTENANCE END =============================================-->

<!--================================= OUR AWESOME SERVICES START =============================================-->
<section class="container-fluid section-space section-bg-2" id="services">
    <div class="container">
        <h2 class="center h2-bottom">our awesome services </h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-3 col-sm-6 col-xs-6 services-res-bottom common-full-1">
                <div class="services-bg">
                    <div class="center image-bottom">
                        <img src="images/64x64x1.png" alt="image" />
                    </div>
                    <h4 class="center h4-bottom"><a href="#">fast booking</a></h4>
                    <p class="center">Flash ensures fast booking in a flash so you need not to worry about being
                        delayed. </p>
                </div>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-3 col-sm-6 col-xs-6 services-res-bottom common-full-1">
                <div class="services-bg">
                    <div class="center image-bottom">
                        <img src="images/64x64x2.png" alt="image" />
                    </div>
                    <h4 class="center h4-bottom"><a href="#">best tariff</a></h4>
                    <p class="center">Flash Rides made sure you enjoy the benifit without worrying about tariff. </p>
                </div>
            </div>

            <!--=============== COLUMN-3 ==================-->
            <div class="col-md-3 col-sm-6 col-xs-6 common-full-1 services-res-bottom-1">
                <div class="services-bg">
                    <div class="center image-bottom">
                        <img src="images/64x64x3.png" alt="image" />
                    </div>
                    <h4 class="center h4-bottom"><a href="#">fast &amp; safe </a></h4>
                    <p class="center">We definately take fast service as responsibility but without leaving any safety
                        concerns behind. </p>
                </div>
            </div>

            <!--=============== COLUMN-4 ==================-->
            <div class="col-md-3 col-sm-6 col-xs-6 common-full-1">
                <div class="services-bg">
                    <div class="center image-bottom">
                        <img src="images/64x64x4.png" alt="image" />
                    </div>
                    <h4 class="center h4-bottom"><a href="#">live support</a></h4>
                    <p class="center">We want our customers to be attended at flash speed with our live support you
                        experience it all. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= OUR AWESOME SERVICES END =============================================-->


<!--================================= DOOR SERVICE START =============================================-->
<section class="container-fluid section-space section-bg-1">
    <div class="container">
        <h2 class="center h2-bottom">our AWESOME FEATURES</h2>
        <div class="row">
            <div class="col-md-10 column-center no-padding res-width-full">

                <div class="col-md-6 col-sm-6 common-res-bottom-1">
                    <div class="luxury-bg-dark-bgimage bgimage-property white-text">
                        <div class="luxury-center">
                            <div class="distab">
                                <div class="left distab-cell-middle">
                                    <img src="images/80x80x4.png" alt="icon" />
                                </div>
                                <div class="left distab-cell-middle luxury-left-pad">
                                    <h4 class="left"><a href="#"> door service</a></h4>
                                </div>
                            </div>

                            <div class="left luxury-line-pad">
                                <img src="images/door_uline.png" alt="icon" />
                            </div>

                            <div class="distab">
                                <div class="left distab-cell-middle">
                                    <img src="images/80x80x5.png" alt="icon" />
                                </div>
                                <div class="left distab-cell-middle luxury-left-pad">
                                    <h4 class="left"><a href="#">airport service</a></h4>
                                </div>
                            </div>

                            <div class="left luxury-line-pad">
                                <img src="images/door_uline.png" alt="icon" />
                            </div>

                            <div class="distab">
                                <div class="left distab-cell-middle">
                                    <img src="images/80x80x6.png" alt="icon" />
                                </div>
                                <div class="left distab-cell-middle luxury-left-pad">
                                    <h4 class="left"><a href="#">night service</a></h4>
                                </div>
                            </div>

                            <div class="left luxury-line-pad">
                                <img src="images/door_uline.png" alt="icon" />
                            </div>

                            <div class="distab">
                                <div class="left distab-cell-middle">
                                    <img src="images/80x80x7.png" alt="icon" />
                                </div>
                                <div class="left distab-cell-middle luxury-left-pad">
                                    <h4 class="left"><a href="#">hotel transport</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="left image-bottom">
                        <img src="images/750x740.jpg" alt="image" class="img-responsive image-center" />
                    </div>
                    <p class="left" style="font-size: 20px;"><b>N</b>ever be late again to another event where it could
                        be an important flight to catch or a friend's wedding. <b>Flash Rides</b> are commited to drop
                        you at lightning speed. World and Time doesnt stop for anyone, Why should you?</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================================= DOOR SERVICE END =============================================-->


<!--================================= 	LUXURY CARS START =============================================-->
<section class="container-fluid section-space section-bg-2">
    <div class="container">
        <h2 class="center h2-bottom">pick-up &amp; drop</h2>
        <div class="row">
            <div class="col-md-12 column-center no-padding">
                <!--=============== COLUMN-1 ==================-->
                <div class="col-md-4 col-sm-6 common-res-bottom-1">
                    <div class="luxury-bgimage bgimage-property">
                        <div class="luxury-center">
                            <div class="distab">
                                <div class="left distab-cell-middle">
                                    <img src="images/80x80x1.png" alt="icon" />
                                </div>
                                <div class="left distab-cell-middle luxury-left-pad">
                                    <h4 class="left"><a href="#">luxury cars</a></h4>
                                </div>
                            </div>

                            <div class="left luxury-line-pad">
                                <img src="images/luxury_line.png" alt="icon" />
                            </div>

                            <div class="distab">
                                <div class="left distab-cell-middle">
                                    <img src="images/80x80x2.png" alt="icon" />
                                </div>
                                <div class="left distab-cell-middle luxury-left-pad">
                                    <h4 class="left"><a href="#">fast &amp; safe</a></h4>
                                </div>
                            </div>

                            <div class="left luxury-line-pad">
                                <img src="images/luxury_line.png" alt="icon" />
                            </div>

                            <div class="distab">
                                <div class="left distab-cell-middle">
                                    <img src="images/80x80x3.png" alt="icon" />
                                </div>
                                <div class="left distab-cell-middle luxury-left-pad">
                                    <h4 class="left"><a href="#">best tariff</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--=============== COLUMN-2 ==================-->
                <div class="col-md-8 col-sm-6">
                    <div class="luxury-text-top">
                        <div class="left image-bottom">
                            <img src="images/750x340.jpg" alt="image" class="img-responsive image-center" />
                        </div>
                        <h4 class="left h4-bottom"><a href="#">on time pick-up &amp; drop by experienced cab
                                drivers</a></h4>
                        <p class="left" style="font-size: 19px;">Now worry less about your ride and the person behind
                            the wheels because we already made sure that driver will ensure a safe and on time commute
                            service </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================================= LUXURY CARS END =============================================-->




<!--================================= COUNTER START =============================================-->
<section class="container-fluid counter-bgimage bgimage-property counter-section-space white-text">
    <div class="container">
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-3 col-sm-3 col-xs-3 common-full counter-res-bottom">
                <div class="center">
                    <img src="images/64x64x10.png" alt="icon" />
                </div>
                <p class="center counter-num count">1201 </p>
                <h4 class="center">packages</h4>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-3 col-sm-3 col-xs-3 common-full counter-res-bottom">
                <div class="center">
                    <img src="images/64x64x11.png" alt="icon" />
                </div>
                <p class="center counter-num count">543 </p>
                <h4 class="center">awards</h4>
            </div>

            <!--=============== COLUMN-3 ==================-->
            <div class="col-md-3 col-sm-3 col-xs-3 common-full counter-res-bottom">
                <div class="center">
                    <img src="images/64x64x12.png" alt="icon" />
                </div>
                <p class="center counter-num count">343 </p>
                <h4 class="center">clients</h4>
            </div>

            <!--=============== COLUMN-4 ==================-->
            <div class="col-md-3 col-sm-3 col-xs-3 common-full">
                <div class="center">
                    <img src="images/64x64x13.png" alt="icon" />
                </div>
                <p class="center counter-num count">2010 </p>
                <h4 class="center">LIKES</h4>
            </div>
        </div>
    </div>
</section>
<!--================================= COUNTER END =============================================-->


<!--================================= WHY CHOOSE US START =============================================-->
<section class="container-fluid section-space section-bg-1">
    <div class="container">
        <h2 class="center h2-bottom">why choose us </h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-3 col-sm-6 col-xs-6 why-res-bottom common-res-bottom-1 common-full-1">
                <h4 class="center h4-bottom"><a href="#">fast booking</a></h4>
                <p class="center">Book at lightning speed ensuring a <b>Flash Service</b> </p>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-3 col-sm-6 col-xs-6 why-res-bottom common-res-bottom-1 common-full-1">
                <h4 class="center h4-bottom"><a href="#">tracking devices</a></h4>
                <p class="center">All our vehicles are equipped with tracking devices to let stream commute details
                    seemlessly </p>
            </div>

            <!--=============== COLUMN-3 ==================-->
            <div class="col-md-3 col-sm-6 col-xs-6 common-full-1 why-res-bottom-1">
                <h4 class="center h4-bottom"><a href="#">on time arrival</a></h4>
                <p class="center">Flash Rides exist because of its Flash service. You can trust us with your next
                    commute now </p>
            </div>

            <!--=============== COLUMN-4 ==================-->
            <div class="col-md-3 col-sm-6 col-xs-6 common-full-1">
                <h4 class="center h4-bottom"><a href="#">live support</a></h4>
                <p class="center">Taking modern commute to next level with Flash speed support </p>
            </div>
        </div>
    </div>
</section>
<!--================================= WHY CHOOSE US END =============================================-->


<!--================================= TAXI AVAILABLE 24/7 SERVICE  START =============================================-->

<!--================================= 	Route plan START =============================================-->
<section class="container-fluid section-space section-bg-2">
    <div class="container">
        <h2 class="center h2-bottom">Book Your Ride Now</h2>
        <div class="row">
            <div class="col-md-12 column-center no-padding">
                <!--=============== COLUMN-1 ==================-->
                <div class="col-md-4 col-sm-6 common-res-bottom-1">
                    <div class="luxury-bgimage bgimage-property" id="route-planner">
                        <div class="luxury-center">

                            <div id="gdir" class="tab-pane fade in active">
                                <form role="form">
                                    <h3 class="center h2-bottom">Route Planner</h3>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-flag"
                                                style="font-size:20px"></span></span>
                                        <input class="controls form-control" id="start-location-input"
                                            placeholder="Start: Address, City, Zip, Place of Interest" type="text">
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-flag-checkered"
                                                style="font-size:20px"></span></span>
                                        <input class="controls form-control" id="destination-location-input"
                                            placeholder="Finish: Address, City, Zip, Place of Interest" type="text">
                                    </div>
                                    <br>
                                </form>
                                <div class="distab-cell-middle " id="go-btn"><input id="getfares" type="button"
                                        value="GET FARES" class="btn-1"></div>
                                <div class="col-md-12 col-xl-12" style="margin-top: 20px;">
                                    <div class="card bg-c-green order-card">
                                        <div class="card-block">
                                            <h5 class="m-b-20"><b>Estimated Fares</b></h5>
                                            <h2 class="text-right"><i class="fas fa-rupee-sign f-left"></i><span
                                                    id="rideRate">0</span>
                                            </h2>

                                            <p class="m-b-0" id="dirServInfo"></p>
                                        </div>

                                    </div>
                                    <div class="distab-cell-middle " id="book-btn"><input id="bookride" type="button"
                                            value="BOOK RIDE" class="btn-1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--=============== COLUMN-2 ==================-->
                <div class="col-md-8 col-sm-6">
                    <div class="luxury-text-top">
                        <div id="gmap">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================================= LUXURY CARS END =============================================-->

<!--================================= TAXI AVAILABLE 24/7 SERVICE  END =============================================-->



<!--================================= OUR BEST TARIFF PLANS START =============================================-->
<section class="container-fluid section-space section-bg-1" id="price">
    <div class="container">
        <h2 class="center h2-bottom">our best tariff plans</h2>
        <div class="row">
            <div class="col-md-8 column-center">
                <!--=============== ROW-1 ==================-->
                <div class="distab plans-radius plans-bg-2">
                    <h4 class="center plans-fs distab-cell-middle plans-br plans-pad"><a href="#">free pickup</a>
                    </h4>

                    <p class="center plans-fs plans-price-fs ls distab-cell-middle plans-pad">$0 </p>
                </div>

                <!--=============== ROW-2 ==================-->
                <div class="distab plans-bg-1">
                    <h4 class="center plans-fs distab-cell-middle plans-br plans-pad"><a href="#">first 10 km</a>
                    </h4>

                    <p class="center plans-fs plans-price-fs ls distab-cell-middle plans-pad">$10 </p>
                </div>

                <!--=============== ROW-3 ==================-->
                <div class="distab plans-bg-2">
                    <h4 class="center plans-fs distab-cell-middle plans-br plans-pad"><a href="#">waiting first 10
                            min</a>
                    </h4>

                    <p class="center plans-fs plans-price-fs ls distab-cell-middle plans-pad">+$2 </p>
                </div>

                <!--=============== ROW-4 ==================-->
                <div class="distab plans-bg-1">
                    <h4 class="center plans-fs distab-cell-middle plans-br plans-pad"><a href="#">next each km</a>
                    </h4>

                    <p class="center plans-fs plans-price-fs ls distab-cell-middle plans-pad">$0 </p>
                </div>

                <!--=============== ROW-5 ==================-->
                <div class="distab plans-bg-2 plans-radius-1">
                    <h4 class="center plans-fs distab-cell-middle plans-br plans-pad"><a href="#">waiting next 10
                            min </a>
                    </h4>

                    <p class="center plans-fs plans-price-fs ls distab-cell-middle plans-pad">$2 </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================================= OUR BEST TARIFF PLANS END =============================================-->


<!--================================= EMAIL SUBSCRIPTION START =============================================-->
<section class="container-fluid subscription-bgimage bgimage-property section-space white-text">
    <div class="container">
        <div class="col-md-10 column-center no-padding">
            <h2 class="center bgimage-head bgimage-head-bottom">email subscription</h2>
            <div class="col-md-8 column-center no-padding">
                <p class="center email-text-bottom ls">We are introducing new servies time to time and offering tempting
                    tariff. To receive updates please subscribe below.</p>
            </div>
            <div id="mc_embed_signup">
                <div class="col-md-5 col-sm-6 col-xs-8 column-center no-padding"  id="email-form">
                    <div class="form-top">
                        <!--================= YOUR MAILCHIMP ACCOUNT URL HERE ====================-->
                        <form class="subscribe_form" id="subscribe-form" name="subscribe-form" novalidate>
                            <!--================= EMAIL INPUT BOX HERE ====================-->
                            <div class="clearfix">
                                <input class="form-control place_error" id="email" type="email" name="email"
                                    placeholder="Your Mail (required)" />
                            </div>

                            <!--================= SUBSCRIBE BUTTON HERE ====================-->
                            <div class="center btn-top">
                                <input type="submit" id="mc-embedded-subscribe" class="btn-1 btn-ant" name="submit"
                                    value="SUBSCRIBE">
                            </div>

                            <!--================= SUCCESS AND FAILURE MESSAGE HERE =================-->
                            <div class="center indicator-top" id="ResultMsg"><span id="SuccessMsg"
                                    class="email-success"></span><span id="FailureMsg" class="email-failure"></span>
                            </div>

                            <div id="mce-responses">
                                <div class="response response-msg" id="mce-error-response"></div>
                                <div class="response response-msg" id="mce-success-response"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= EMAIL SUBSCRIPTION END =============================================-->


<!--================================= OUR HAPPY CUSTOMERS START =============================================-->
<section class="container-fluid section-space section-bg-2">
    <div class="container">
        <h2 class="center h2-bottom">our happy customers</h2>
        <div class="row">
            <!--=============== COLUMN-1 ==================-->
            <div class="col-md-4 col-sm-4 customers-fixed customers-res-bottom">
                <div class="customer-bg">
                    <div class="center image-bottom">
                        <img src="images/100x100x1.png" alt="image" />
                    </div>
                    <p class="center customer-text ls">Very good online booking service. The best and easy way to travel
                        anywhere I can. I choose only Flash Rides.
                    </p>
                    <h4 class="center">MARK DAVID </h4>
                    <p class="center customer-design ls">Hyderabad </p>
                </div>
            </div>

            <!--=============== COLUMN-2 ==================-->
            <div class="col-md-4 col-sm-4 customers-fixed customers-res-bottom">
                <div class="customer-bg">
                    <div class="center image-bottom">
                        <img src="images/100x100x2.png" alt="image" />
                    </div>
                    <p class="center customer-text ls">Tried this service for the first time and it worked seamlessly
                        and was a wonderful experience that exceeded my expectations.
                    </p>
                    <h4 class="center">LARA EMILY</h4>
                    <p class="center customer-design ls">Mumbai </p>
                </div>
            </div>

            <!--=============== COLUMN-3 ==================-->
            <div class="col-md-4 col-sm-4 customers-fixed customers-res-bottom">
                <div class="customer-bg">
                    <div class="center image-bottom">
                        <img src="images/100x100x3.png" alt="image" />
                    </div>
                    <p class="center customer-text ls">Excellent in all areas. Had a great experience when compared to
                        all other services during
                        my 3 weeks in India.
                    </p>
                    <h4 class="center">DAVID JANET </h4>
                    <p class="center customer-design ls">Jaipur </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================= OUR HAPPY CUSTOMERS END =============================================-->

<!--================================= SUPPORT START =============================================-->
<div class="container-fluid support-bgimage bgimage-property support-section-space">
    <div class="container">
        <div class="col-md-10 column-center no-padding white-text">
            <h4 class="left support-text-bottom">24/7 SUPPORT AVAILABLE </h4>
            <div class="distab">
                <div class="left distab-cell-middle">
                    <!-- <img src="images/64x64x9.png" alt="icon" /> -->
                </div>
                <div class="left distab-cell-middle phone-left-pad">
                    <p class="left phone-text ls">+91 98 49 08 4400</p>
                </div>
            </div>
            <p class="left conditions-text ls">IMPORTANT TERMS &amp; CONDITIONS APPLY</p>
        </div>
    </div>

</div>
<!--================================= SUPPORT END =============================================-->



<!--================================= FOOTER START =============================================-->
<section class="container-fluid footer-section-space section-bg-1" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-push-6 col-sm-6 col-xs-12 common-res-bottom-1">
                <h4 class="left contact-heading-bottom">contact</h4>

                <div class="contact-div">
                    <form id="contact-form">
                        <div class="clearfix">
                            <!--================= NAME INPUT BOX HERE ====================-->
                            <div class="form-div form-bottom-1">
                                <input class="form-control form-text" id="subject" type="text" name="subject" value=""
                                    placeholder="Please Enter Name" required />
                            </div>

                            <!--================= EMAIL INPUT BOX HERE ====================-->
                            <div class="form-div form-bottom-1">
                                <input class="form-control form-text" id="from" type="email" name="from" value=""
                                    placeholder="Please Enter Email" required />
                            </div>

                            <!--================= MESSAGE INPUT BOX HERE ====================-->
                            <div class="form-div-1">
                                <textarea class="form-control form-text" id="text" name="text" placeholder="Message"
                                    rows="4" required></textarea>
                            </div>

                            <div class="distab submit-reset">
                                <!--================= SUBMIT BUTTON HERE ====================-->
                                <div class="distab-cell-middle submit-right-pad">
                                    <input type="submit" class="btn-1" id="submit" name="submit" value="SUBMIT">
                                </div>

                                <!--================= RESET BUTTON HERE ====================-->
                                <input type="reset" class="btn-1 distab-cell-middle cancel" name="clear" value="RESET">

                            </div>
                        </div>
                    </form>
                </div>
                <div class="right form-error-top" id="messageDiv"> <span class="form-success" id="sucessMessage">
                    </span> <span class="form-failure" id="failMessage"> </span>
                </div>
            </div>

            <div class="col-md-6 col-md-pull-6 col-sm-6 col-xs-12">
                <h4 class="center h4-bottom">address</h4>
                <p class="center ls adress-line-bottom">FlashServies, 21st Street</p>
                <p class="center footer-row-space ls">Banglore, Karnataka, India </p>

                <h4 class="center h4-bottom">Email </h4>
                <p class="center footer-row-space ls"> <a href="#">contact@flashrides.com</a>
                </p>

                <h4 class="center h4-bottom">phone no</h4>
                <p class="center footer-row-space ls">+91 9849084400</p>

                <h4 class="center follow-heading-bottom">follow us</h4>
                <div class="center">
                    <ul class="no-padding no-margin footer-icon footer-left-pad">
                        <li>
                            <a href="#">
                                <img src="images/32x32x4.png" alt="icon" />
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="images/32x32x5.png" alt="icon" />
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="images/32x32x6.png" alt="icon" />
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="images/32x32x7.png" alt="icon" />
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <img src="images/32x32x8.png" alt="icon" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
</section>
<!--================================= FOOTER END =============================================-->