@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

#profile{ 
    font-family: 'Open Sans', sans-serif;
}
.description{
    font-size: 13px;
    color: rgb(111, 108, 108);
}

#name::placeholder{
    color: rgb(131, 127, 127);
    font-size:11px; 

}
#name{ 
    outline: none;
    border-radius: 14px;
	border: 0.5px solid rgb(163, 162, 162);
	padding: 10px 15px;
    width: 70%;
    
}

#number::placeholder{
    color: rgb(131, 127, 127);
    font-size:11px; 
}
#number{ 
    outline: none;
    border-radius: 14px;
	border: 0.5px solid rgb(163, 162, 162);
	padding: 10px 15px;
    width: 70%;
    

}

#email::placeholder{
    color: rgb(131, 127, 127);
    font-size:11px; 

}
#email{ 
    outline: none;
    border-radius: 14px;
	border: 0.5px solid rgb(163, 162, 162);
	padding: 10px 15px;
    width: 70%;
    

}
.button-info{
    background-color:#00c59e; 
    color:#fff;
    display: block;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    margin: -113px -15px;
    cursor: pointer;
    float: right;
}

#add-location{
    text-decoration: none;
    font-size: 15px;
    color: #00c59e;
}
#add-location:hover{
    color: rgb(60, 60, 233);

}

.delete-location{
    font-size: 14px;
    color: #00c59e;
}

.delete-location:hover{
    color: red;
}
.saved{
    margin: 0 0 -11px -928px;
    color: #000;
    font-size: 14px;
}
.update-location{
    margin: 0 97px -11px -390px;
}

.tag{
    color:#000;
}

select{
    width: 70%;
    border-radius: 14px;
    padding: 10px 15px;
    margin-top: -26px;
    outline: none;
}
.music select{

    width: 326%;
}
.air select{
    width: 193%;
    border-radius: 14px;
    padding: 10px 15px;
    margin-top: 5px;
    outline: none;
}
.driver select{
    width: 105%;
    border-radius: 14px;
    padding: 10px 15px;
    margin-top: 0px;
    outline: none;
}

option{
    font-size: 14px;

}

.modal-footer{
    border-top: 1px solid #e9ecef !important;
}

