body {
  font-family: "Varela Round", sans-serif;
}

#login-popup {
  color: #636363;
  width: 350px;
}
#signup-popup {
  margin-top: 70px;
}

#login-popup .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  min-height: 75vh;
}

#login-popup .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
#signup-popup .modal-header {
  border-bottom: none;
  position: relative;
  justify-content: center;
}
#login-popup h4 {
  text-align: center;
  font-size: 25px;
  margin: 30px 0 -15px;
}
#signup-popup h4 {
  font-size: 25px;
  margin-top: 25px;
}

#login-popup .form-control:focus {
  border-color: #70c5c0;
}

#login-popup .form-control {
  font-size: 1.4rem;
  min-height: 50px;
  border-radius: 4px;
  background-color: #dbdbdb;
}

#login-popup .btn {
  font-size: inherit;
  min-height: 40px;
  border-radius: 4px;
  background-color: #1bbc9b;
}

#login-popup .close {
  position: absolute;
  top: -5px;
  right: -100px;
}
#signup-popup .close {
  position: absolute;
  top: 5px;
  right: -100px;
  padding: 0;
}

#login-popup .modal-footer {
  width: inherit;
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  justify-content: center;
  margin: 0 -20px -20px;
  border-radius: 5px;
  font-size: 13px;
}

#login-popup .modal-footer a {
  color: #444;
}

#login-popup .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #60c7c1;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
#signup-popup .avatar {
  position: absolute;
  margin: 0 auto;
  left: -8px;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #60c7c1;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

#login-popup .avatar img {
  width: 100%;
}
#signup-popup .avatar img {
  width: 100%;
}

.modal-login.modal-dialog {
  margin-top: 80px;
}

.modal-login .btn {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
}

.modal-login .btn:hover,
.modal-login .btn:focus {
  background: #45aba6;
  outline: none;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}
